/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require bootstrap-icons
*= require grails
*= require main
*= require mobile
*= require_self
*/

.taglist {
    display: inline-flex;
    list-style-type: none;
    margin-top: 5px;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    width: 20%;
}

.taglist li {
    margin-right: .5rem;
}